.logo {
  width:150px;
  padding:20px 20px 0px 20px;
}
h1 a{
  font-family:'Work Sans', sans-serif;
  text-transform: Uppercase;
  text-decoration: none;
  font-weight: 100;
  color: black;
  background-color: white;
  font-size: 14px;
}
h1 a:hover{
  font-weight: 400;
  color: #976cbc;
}
.main{
  float: left;
  
}
.btn-default {
color: #333;
background-color: #fff;
border-color: #ccc;
}

.btn {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: crosshair;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}

#page-content-wrapper {
width: 100%;
padding: 15px;
}

#page-content-wrapper {
padding: 20px;
}

.sidebar {
  list-style-type:none;
  width:230px;
  height:100%;
  top:0;
  bottom:0;
  left:0;
  text-align:left;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  transition:1s ease;
}

.sidebar a {
  text-decoration:none;
  color:black;
  transition:1s ease;
  font-family: 'work sans', sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 2em;
}

.sidebar li {
  text-indent: 20px;
  line-height: 40px;
  transition:0.5s ease;
}

.sidebar li:hover {
  cursor:crosshair;
  text-indent: 30px;
}
.bio{
padding: 20px;
cursor:crosshair;
}

h1 {
  font-family: work-sans, sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  color: #ff4b75;
}

p{
  font-family:work-sans, sans-serif;
  font-weight: 200;
}

.headshot {
  float: right;
  width: 250px;
  padding: 20px;
}

ul.sidebar li #work:hover{
  color: #976cbc;
}

ul.sidebar li #about:hover{
  color: #509eed;
}

ul.sidebar li #contact:hover{
  color: #ff4b75;
}
