
/* Links */
a, 
a:active,
a:visited {
  color: #ff4b75;
}

a:hover{
  color: DarkMagenta;
  text-decoration: none;
}

/* Structure */
html,
body {
  height: 100%;
}

body p {
  color: #262626;
  font: 400 14px/1.5 'Raleway';
}

body h1 {
  color: #262626;
  font-family: 'Megrim';
}

body {
  background: #ebeced;
  background-size: cover;
  letter-spacing: 1px;
  overflow-x: hidden;
}

.cover {
  background: #ebedec;
  background-size: cover;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  text-align: center;
}

.cover-inner {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  padding: 20px;
}

header {
  margin: 0 auto;
  max-width: 800px;
}

.twisted{
  /*  transform  */
  transform: skew(-16deg, 1deg) ;
  -webkit-transform: skew(-16deg, 1deg) ;
  -moz-transform: skew(-16deg, 1deg) ;
  -o-transform: skew(-16deg, 1deg) ;
  -ms-transform: skew(-16deg, 1deg) ;
}

/* Fonts */
.headline {
  font: 500 100px 'Megrim';
  letter-spacing: 1px;
  text-transform: uppercase;
/*  color: #976cbc; */
}

.p1{
  font: 700 48px 'Bitter', 'Georgia', serif;
  letter-spacing: 1px;
}

.p2 {
  font: 400 20px/1.5 'Bitter', 'Georgia', serif;
/*  color: #42e2b6; */
}

/* Lines  */
.border-line {
  border-top: 2px solid #976cbc;
  margin: 10px auto;
  max-width: 350px;
}

/* Contact Area */
.c{
  width: 100%;
  margin: 10 auto 0;
  padding: 0; 
  position: fixed; 
  bottom: 0;
  text-align: center;
}

.c a, 
.c a:active,
.c a:visited {
  color: #000;
}

.c a:hover{
  color: #976cbc;
  text-decoration: none;
}

.co {
  margin: 0 auto;
  padding: 10px;
    font-family:'bitter', 'georgia', serif; 
}

.bar{
  border-top: 4px solid #42e2b6;
  margin-top: 0px;
  position: relative;
}
.bar2{
  border-top: 5px solid #509eed;
  margin-top: 0px;
  position: relative;
}


/* Media Queries */
@media (max-width: 450px) {
	.headline {
    font-size: 70px;
  }
  .inner {
    padding: 20px;
  }
  .c {
    position: relative;
  }
  .cover {
  background: rgba(235, 235, 220, 0.8);
  }
}
