.contact-form {
  width: 600px;
  background: #eee;
  margin: 0 auto;
}

body {
  background: #eee;
}

.contact-form input {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  margin-right: 2%;
  float: left;
  border: 1px #eee;
  padding: 10px;
    font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: black;
  font-size: 16px;
  box-sizing: border-box;
}

.contact-form textarea {
  margin: 15px 0px 20px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: black !important;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  min-height: 100px;
  border: 1px #eee;
  padding: 10px;
}

.contact-form input[type="submit"] {
  color: white;
  font-size: initial;
  background: #986CAF;
    font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
  margin: 0 auto 10px;
  width: 100%;
  height: 40px;
  padding: 1em;
  line-height: 1px;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.contact-form input[type="submit"]:hover {
  outline: none;
  background: #65C4AA;
}

.title {
  font-family: 'work sans', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
  font-size: 48px;
  color: #EF4D76;
}
